

<div>
  <form class="form" action="/api/productos" method="POST">
        Title: <input type="text" name="title" placeholder="Title" >
        Price: <input type="number" name="price"  placeholder="Price">
        Thumbnail: <input type="text" name="thumbnail" placeholder="thumbail">
        <button type="submit" >+ Add Product</button>
    </form>

    <a href="/api/productos"><button>Ir a productos</button></a>
</div>

<style>
   
   .form {background-color: rgb(0, 89, 255);
   width: 30em;}
        <input> { 
           
            background: aqua;}
    *{
 background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MCIgaGVpZ2h0PSIzMCI+CjxyZWN0IHdpZHRoPSI5MCIgaGVpZ2h0PSIzMCIgZmlsbD0iIzAwYTlmMSI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iOTAiIGhlaWdodD0iMTgiIGZpbGw9IiMyNmJhZjQiPjwvcmVjdD4KPC9zdmc+");}    
</style